@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

:root {
    /* From: https://gumroad.com/ */
    --success: #23a094;
    --danger: #e2442f;
    --warning: #ffc900;
    --info: #90a8ed;
    --pink: #ff90e8;
    --purple: #90a8ed;
    --green: #23a094;
    --orange: #e2442f;
    --red: #98282a;
    --yellow-dark: #ffc900;
    --yellow: #f1f333;
    --black: #000000;
    --gray-500: #78716c;
    --gray-400: #a8a29e;
    --gray-300: #d6d3d1;
    --gray-200: #e7e5e4;
    --gray-100: #f4f4f0;
    --gray-050: #fbfbf9;
    --white: #ffffff;
    --primary: #000000;
    --accent: #ff90e8;
    --contrast-accent: #000000;
    --background: #ffffff;
    --breakpoint-sm: 640px;
    --breakpoint-md: 1024px;
    --border-color: #000000;
    --border-width: .0625rem;
    --outline: .125rem solid #ff90e8;
    --big-icon-size: 1.5em;
    --grid-wrap-breakpoint: 31.25rem;
    --active-bg: #ffffff;
    --active-color: #000000;
    --main-stack-width: 28rem;
    --dynamic-grid: min(100%, calc((31.25rem - 100%)*1000));
    --disabled-opacity: .3;
    --form-element-height: 3.125rem;
    --faded-text-color: #a8a29e;

    
    --border: solid 1px black;
}

/* Reset default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

/*
 * HEADER
 */


header {
    display: flex;
    border-bottom: var(--border);
}

.logo {
    padding: 1.5rem 2.5rem;
    
    font-family: 'DynaPuff', serif;
    font-weight: 700;
    font-size: 1.5rem;

    border-right: var(--border);
}

/*
 * INDEX
 */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.login-main {
    background-color: #f1f333;
}

.panel {
    border: 2px solid black;
    box-shadow: 10px 10px 0 0 black;
    
    border-radius: 5px;
    width: min(85vw, 650px);
    margin-block: 3rem;

    background-color: var(--white);

    padding: 2rem;
}

.login-btn {
    border: 2px solid black;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: black;

    background-color: hsl(148, 100%, 50%);
    border-radius: 9999px;
    padding: 1rem 2rem;
}

.login-btn {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    align-items: center;
    
    margin: 0 auto;
    margin-top: 4rem;
}

.login-btn:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 0 black;
}

.login-btn > img {
    height: 40px;
    width: 40px;
}

@media (max-width: 640px) {
    .panel {
        padding: 1rem;
    }
    
    .login-btn {
        font-size: 1rem;
    }
    
    .login-btn > img {
        height: 20px;
        width: 20px;
    }
}

/* 
 * FOOTER
 */


footer {
    padding: 1rem 0;
    text-align: center;
    border-top: var(--border);
}

footer > a {
    text-decoration: none;
    color: green;
}