@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

:root {
    /* From: https://gumroad.com/ */
    --success: #23a094;
    --danger: #e2442f;
    --warning: #ffc900;
    --info: #90a8ed;
    --pink: #ff90e8;
    --purple: #90a8ed;
    --green: #23a094;
    --orange: #e2442f;
    --red: #98282a;
    --yellow-dark: #ffc900;
    --yellow: #f1f333;
    --black: #000000;
    --gray-500: #78716c;
    --gray-400: #a8a29e;
    --gray-300: #d6d3d1;
    --gray-200: #e7e5e4;
    --gray-100: #f4f4f0;
    --gray-050: #fbfbf9;
    --white: #ffffff;
    --primary: #000000;
    --accent: #ff90e8;
    --contrast-accent: #000000;
    --background: #ffffff;
    --breakpoint-sm: 640px;
    --breakpoint-md: 1024px;
    --border-color: #000000;
    --border-width: .0625rem;
    --outline: .125rem solid #ff90e8;
    --big-icon-size: 1.5em;
    --grid-wrap-breakpoint: 31.25rem;
    --active-bg: #ffffff;
    --active-color: #000000;
    --main-stack-width: 28rem;
    --dynamic-grid: min(100%, calc((31.25rem - 100%)*1000));
    --disabled-opacity: .3;
    --form-element-height: 3.125rem;
    --faded-text-color: #a8a29e;

    --border: solid 1px black;
    --btn-hover-transition: 5px;
}

/* Reset default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
 * Custom Default Style
 */
 
 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 1rem 2rem;

    display: flex;
    gap: 1rem;
    align-items: center;

    border: 2px solid black;
    border-radius: 9999px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: black;

    cursor: pointer;
    
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
}

.btn:hover {
    transform: translate(calc(-1 * var(--btn-hover-transition)), calc(-1 * var(--btn-hover-transition)));
    box-shadow: var(--btn-hover-transition) var(--btn-hover-transition)  0 0 black;
}

/*
 * HEADER
 */


header {
    display: flex;
    border-bottom: var(--border);
}

.logo {
    padding: 1.5rem 2.5rem;
    
    font-family: 'DynaPuff', serif;
    font-weight: 700;
    font-size: 1.5rem;

    border-right: var(--border);
}

.logout-btn {
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem auto;

    background-color: var(--pink);
    --btn-hover-transition: 3px;
}

.logout-btn > img {
    width: 20px;
}

/*
 * INDEX
 */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.login-main {
    background-color: #f1f333;
}

.panel {
    border: 2px solid black;
    box-shadow: 10px 10px 0 0 black;
    
    border-radius: 5px;
    width: min(85vw, 650px);
    margin-block: 3rem;

    background-color: var(--white);

    padding: 2rem;
}

.login-btn {
    margin: 0 auto;
    margin-top: 4rem;

    font-size: 2rem;

    background-color: hsl(148, 100%, 50%);
}

.login-btn > img {
    height: 40px;
    width: 40px;
}

@media (max-width: 640px) {
    .panel {
        padding: 1rem;
    }
    
    .login-btn {
        font-size: 1rem;
    }
    
    .login-btn > img {
        height: 20px;
        width: 20px;
    }
}

/*
 * LOGGED
 */

.logged-main {
    flex-direction: column;
    background-color: var(--yellow);
    padding: 5rem;
}

.drag-section > img,
.drag-elem {
    border-radius: 50%;
    height: 150px;
    display: inline-block;
}

.drag-section, 
.drop-section {
    display: flex;
    gap: 2rem;

    margin-top: 2rem;
    cursor: grab;
}

.drop-section > .drop-elem {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.611);

    display: flex;
    align-items: center;
    justify-content: center;
    

}

.drop-elem::before {
    position: absolute;
    color: white;
}

/* 1st drop-elem */

.drop-elem:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.8);
}

.drop-elem:nth-child(1)::before {
    content: '1st';
}
/* 2nd drop-elem */

.drop-elem:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.65);
}

.drop-elem:nth-child(2)::before {
    content: '2nd';
}
/* 3rd drop-elem */

.drop-elem:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.5);
}

.drop-elem:nth-child(3)::before {
    content: '3rd';
}


.drop-elem > img {
    z-index: 1;
}

.line {
    margin-top: 2rem;
    
    height: 2px;
    width: 100%;
    background-color: #000;

    display: flex;
}

.line::before {
    content: '';
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);

    position: relative;
    top: -11px;

    border-radius: 2px;

}

.end-arrow {
    margin-left: auto;
}

/* 
 * FOOTER
 */


footer {
    padding: 1rem 0;
    text-align: center;
    border-top: var(--border);
}

footer > a {
    text-decoration: none;
    color: green;
}
