@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

:root {
    /* From: https://gumroad.com/ */
    --success: #23a094;
    --danger: #e2442f;
    --warning: #ffc900;
    --info: #90a8ed;
    --pink: #ff90e8;
    --purple: #90a8ed;
    --green: #23a094;
    --orange: #e2442f;
    --red: #98282a;
    --yellow-dark: #ffc900;
    --yellow: #f1f333;
    --black: #000000;
    --gray-500: #78716c;
    --gray-400: #a8a29e;
    --gray-300: #d6d3d1;
    --gray-200: #e7e5e4;
    --gray-100: #f4f4f0;
    --gray-050: #fbfbf9;
    --white: #ffffff;
    --primary: #000000;
    --accent: #ff90e8;
    --contrast-accent: #000000;
    --background: #ffffff;
    --breakpoint-sm: 640px;
    --breakpoint-md: 1024px;
    --border-color: #000000;
    --border-width: .0625rem;
    --outline: .125rem solid #ff90e8;
    --big-icon-size: 1.5em;
    --grid-wrap-breakpoint: 31.25rem;
    --active-bg: #ffffff;
    --active-color: #000000;
    --main-stack-width: 28rem;
    --dynamic-grid: min(100%, calc((31.25rem - 100%)*1000));
    --disabled-opacity: .3;
    --form-element-height: 3.125rem;
    --faded-text-color: #a8a29e;

    
    --border: solid 1px black;
}

html {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo {
    font-family: 'DynaPuff', serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-inline: 2.5rem;
}

header {
    display: flex;
    border-bottom: var(--border);
}

header > div {
    border-right: var(--border);
    padding: 1.5rem 4rem;
}

.header-link > a {
    text-decoration: none;
    color: inherit;
}

.header-link > a {
    position: relative;
}
.header-link:hover .hover-elem {
    width: 100%;    
}

.hover-elem {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 0%;
    height: 2px;
    background-color: var(--color);

    transition: width 0.3s  ease-in-out;
}

.mark {
    display: inline-block;
    height: 14px;
    width: 8px;

    background-color: var(--color);
    
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}

.header-link {
    cursor: pointer;
    color: black;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    
    background-color: #f1f333;
}

.panel {
    border: 2px solid black;
    box-shadow: 10px 10px 0 0 black;
    
    border-radius: 5px;
    width: 750px;

    background-color: var(--white);

    padding: 2rem;
}

button {
    border: 2px solid black;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: black;

    background-color: hsl(148, 100%, 50%);
    border-radius: 9999px;
    padding: 1rem 2rem;
}

button {
    
    display: flex;
    gap: 1rem;
    cursor: pointer;
    
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    align-items: center;
    
    margin: 0 auto;
    margin-top: 4rem;
}

img {
    height: 40px;
    width: 40px;
}

button:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 0 black;
}

footer {
    padding: 1rem 0;
    text-align: center;
    border-top: var(--border);
}

footer > a {
    text-decoration: none;
    color: green;
}